################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular-learn/packages
/angular-learn/angular-learn/obj/Debug
