div.event {
  background-color: #777777;
  border-color: #000000;
  margin: 15px;
  color:#fff;
  min-height:70px;
  cursor:pointer;
}

div.event > div {
    margin : 5px;
}

p {
    margin: 5px;
}